<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workmate.app.mainscreen.mapper.MenuMapper">
	<select id="selectMenuList" parameterType="MenuVO">
		SELECT menu_no
			, menu_title
			, menu_link
		FROM menu
		WHERE menu_title LIKE '%' || #{searchKeyword} || '%'
	</select>
</mapper>