<!DOCTYPE html>
<html 
	xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/approval_layout}"
	layout:fragment="content"
	>

<head>
	<meta charset="UTF-8">
	<title>전자 결재</title>
</head>

<body>
	<div>
		<h3>서명 이미지 관리</h3>
		<button id="addSignBtn" class="btn btn-primary">파일 첨부</button>
		<table id="SignsTable" class="display">
			<thead>
				<tr>
					<th>서명</th>
					<th>제목</th>
					<th>등록일</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="sign, sts : ${signs}">
					<tr>
						<th><img th:src="${sign.signPath}" th:alt="${sign.signTitle}" width="50" height="50"></th>
						<th>[[ ${sign.signTitle} ]]</th>
						<th>[[ ${sign.insertDate} ]]</th>
						<th><button id="signFileDelete" th:onclick="|killSign(${sign.signNo})|" class="btn btn-primary">삭제</button></th>
					</tr>
				</th:block>
			</tbody>
		</table>
		<input id="signFileInput" type="file" multiple style="display: none;">
		*서명은 최대 3개까지 등록 가능합니다.<br>
		서명이 3개 넘을 시 등록된 서명을 삭제 후 등록할 수 있습니다.
	</div>
	
	<div>
		<h3>결재선 리스트</h3>
		<button 
			id="setApprLine"
			data-bs-toggle="modal" 
			data-bs-target="#addApprLineModal" 
			data-bs-whatever="@mdo">
			결재선 지정
		</button>
		<table id="ApprLines" class="display">
			<thead>
				<tr>
					<th>제목</th>
					<th>등록일</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="apprLine, sts : ${apprLines}">
					<tr 
						data-bs-toggle="modal" 
						data-bs-target="#addApprLineModal" 
						data-bs-whatever="@mdo"
						th:data-bs-apprlineNo="${apprLine.apprlineNo}"
						th:data-bs-insertTitle="${apprLine.insertTitle}">
						<th>[[ ${apprLine.insertTitle} ]]</th>
						<th>[[ ${apprLine.insertDate} ]]</th>
						<th><button class="btn btn-primary">삭제</button></th>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	
	<!-- 모달 창 -->
	<div class="modal fade" id="addApprLineModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">결재선 조정</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="apprlineNo">
					<input type="text" id="insertTitle" placeholder="결재선 이름">
					<table class="table mt-3">
						<tbody>
							<tr>
								<td>
									<h5>조직도</h5>
									<div class="tree-panel">
										<ul class="tree">
											<li th:each="dpt : ${names}">
												<span class="folder">[[ ${dpt.departmentName} ]]</span>
												<ul>
													<li th:each="team : ${dpt.teamList}">
														<span class="teamN" th:data-tn="${team.teamName}">[[ ${team.teamName} ]]</span>
														<ul>
															<li th:each="name : ${team.empList}">
																<span class="employee" 
																	th:data-tn="${team.teamName}"
																	th:data-id="${name.userNo}"
																	th:onclick="| addElmnt(${name.userNo}) |"
																	>
																	[[ ${name.userName}]]
																</span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</td>
								<td>
									<table id="ApprovalTable" class="display">
										<thead>
											<tr>
												<th>결재 순서</th>
												<th>이름</th>
												<th>직책</th>
												<th>부서</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="saveApprElmnts">저장</button>
					<button type="button" class="btn btn-secondary" id="closeModalBtn" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script th:inline="javascript">
	let apprElmntList = [];
	
	// 서명 파일을 제거한다.
	function killSign(signNo) {
		const path = [[ @{/approval/sign} ]];
		fetch(`${path}/${signNo}`, {
			method: 'DELETE'
		})
		.then(response => response.json())
		.then(result => {
			if(result.success) {
				alert('서명이 삭제되었습니다.');
				location.reload(); // 페이지 새로고침
			}
			else {
				alert('삭제에 실패하였습니다.');
			}
		})
		.catch(error => {
			console.error('Error:', error);
			alert('서버 요청 중 오류가 발생했습니다.');
		});
	}

	$(document).ready(function() {
		$('#SignsTable').DataTable();
		$('#ApprLines').DataTable();
	});
	
	// 서명 파일 추가 버튼을 누를때 행동
	$('#addSignBtn').on('click', function() {
		// #SignsTable의 데이터 줄 수를 확인
        var table = $('#SignsTable').DataTable();
        var rowCount = table.rows().count();

        // 데이터 줄 수가 3 이상이면 추가 거절
        if (rowCount >= 3) {
            alert("서명 파일은 최대 3개까지만 추가할 수 있습니다."); // 사용자에게 알림 메시지 표시 (선택 사항)
            return; // 함수 실행 중단
        }
        
        $('#signFileInput').click();
        
     	// 결재선 모달이 열릴 때 실행
        $('#addApprLineModal').on('show.bs.modal', function(event) {
            let button = $(event.relatedTarget);  // 모달을 열게 한 요소 (tr)
            let apprlineNo = button.data('bs-apprlineno');  // 결재선 번호
            let insertTitle = button.data('bs-inserttitle');  // 결재선 이름

            // 모달 내부 요소에 값 설정
            $('#apprlineNo').val(apprlineNo);
            $('#insertTitle').val(insertTitle);
            
            // 결재선을 이루는 결재자들을 apprElmntList에 저장한다.
            $.ajax({
    			url: [[ @{/approval/summonApprElmnts} ]],
    			type: 'POST',
    			headers: {
    				'Content-Type': 'application/json'
    			},
    			data: JSON.stringify({
    				'apprlineNo': apprlineNo
    			}),
    			success: function(response) {
    				if(!Array.isArray(response)) {
    					return;
    				}
    				
    				apprElmntList = response;
    				loadApprElmnts();
    			}
    		});
        });
    });

	// 서명 파일을 추가한다.
    $('#signFileInput').on('change', function() {
        const file = this.files[0];

        if (file) {
            const formData = new FormData();
            formData.append('file', file);

            $.ajax({
                url: [[ @{/approval/sign} ]], // 서명 추가 요청을 처리할 서버 URL
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    // 서버 응답 처리 (예: 테이블에 새 서명 추가)
                    alert(response);
                    location.reload(); // 페이지 새로고침
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }
    });
	
	// apprElmntList의 내용을 모달화면에 띄운다
	function loadApprElmnts() {
	    let tbodyTag = $('#ApprovalTable > tbody');
	    tbodyTag.empty();

	    if (!Array.isArray(apprElmntList) || apprElmntList.length === 0) {
	        return;
	    }

	    apprElmntList.sort((a, b) => a.order - b.order); // 정렬 (order 속성이 있다고 가정)
	    
	    apprElmntList.forEach(function(element, index) {
	        let trTag = $(`
	        	<tr onclick="delApprElmnt()">
	        		<td>${index + 1}</td>
	        		<td>${element.userName}</td>
	        		<td>${element.teamName}</td>
	        		<td>${element.departmentName}</td>
	        	</tr>
	        `);
			tbodyTag.append(trTag);
	    });
	}
	
	// 조직도의 사원을 클릭하면 결재자로 apprElmntList에 저장한다
	function addApprElmnt(userNo) {
		if(apprElmntList.length >= 3) {
			return;
		}
		
		let urlBase = [[ @{/emp/organ/} ]];
		$.ajax({
			url: urlBase + userNo,
			type: 'GET',
			headers: {
				'Content-Type': 'application/json'
			},
			success: function(response) {
				if(response == null) {
					return;
				}
				
				apprElmntList.push(response);
				loadApprElmnts();
			}
		});
	}
	
	// apprElmntList에서 하나씩 결재자 정보를 삭제한다
	function delApprElmnt() {
		apprElmntList.pop();
		loadApprElmnts();
	}
	
	// 결재선 변경을 적용한다.
    $('#saveApprElmnts').on('click', function() {
    	const apprlineNo = $('apprlineNo').val();
        const insertTitle = $('#insertTitle').val();
        const components = apprElmntList.join(',');
 
        if (apprlineNo == null) {
            $.ajax({
                url: [[ @{/approval/apprLine} ]], // 결재선 추가 요청을 처리할 서버 URL
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                	apprlineNo: apprlineNo,
                	insertTitle: insertTitle,
                	components: components
                }),
                success: function(response) {
                    // 서버 응답 처리 (예: 테이블에 새 결재선 추가)
                    console.log(response);
                    location.reload(); // 페이지 새로고침
                }
            });
        }
        else {
        	$.ajax({
                url: [[ @{/approval/apprLine} ]], // 결재선 변경 요청을 처리할 서버 URL
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({
                	apprlineNo: apprlineNo,
                	insertTitle: insertTitle,
                	components: components
                }),
                success: function(response) {
                    // 서버 응답 처리 (예: 테이블에 새 결재선 추가)
                    console.log(response);
                    location.reload(); // 페이지 새로고침
                }
            });
        }
    });
</script>

</html>