<!DOCTYPE html>
<html 
	xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/approval_layout}"
	layout:fragment="content"
	>

<head>
	<meta charset="UTF-8">
	<title>전자 결재</title>
</head>

<body>
	<div>
		<h3>서명 이미지 관리</h3>
		<button>파일 첨부</button>
		<table class="table">
			<thead>
				<tr>
					<th><input type="checkbox"></th>
					<th>서명</th>
					<th>제목</th>
					<th>등록일</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox"></td>
					<td>고길동</td>
					<td>서명1</td>
					<td>2022-01-20</td>
					<td><button class="btn primary-btn">삭제</button></td>
				</tr>
			</tbody>
		</table>
		*서명은 최대 3개까지 등록 가능합니다.<br>
		서명이 3개 넘을 시 등록된 서명을 삭제 후 등록할 수 있습니다.
	</div>
	
	<div>
		<h3>결재선 리스트</h3>
		<button>추가</button>
		<table class="table">
			<thead>
				<tr>
					<th><input type="checkbox"></th>
					<th>제목</th>
					<th>등록일</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox"></td>
					<td>휴가결재선</td>
					<td>2022-01-20</td>
					<td><button class="btn primary-btn">삭제</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

<script>

</script>

</html>