<!DOCTYPE html>
<html 
	xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/approval_layout}"
	layout:fragment="content"
	>

<head>
	<meta charset="UTF-8">
	<title>전자 결재</title>
	<style>    
		/* 조직도 패널 */
		.tree-panel {
			background: #fff;
			padding: 20px;
			border-radius: 12px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
			min-width: 250px;
			width: 300px;
			margin-right: 20px;
			/* 오른쪽에 약간의 간격 추가 */
			max-height: 500px;
			overflow-y: auto;
			/* 내용이 넘칠 경우 스크롤 추가 */
		}
		
		/* 내부 정보 리스트 */
		.info-list {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
		
		/* 각 줄 */
		.info-row {
			display: flex;
			align-items: center;
		}
		
		.employee {
			display: none;
		}
		
		/* 라벨 */
		.label {
			width: 100px;
			font-weight: bold;
			color: #333;
			background: #e7edf7;
			padding: 8px 12px;
			border-radius: 6px;
			text-align: left;
		}
		
		/* 값 */
		.value {
			flex: 1;
			background: #f2f4f8;
			padding: 8px 12px;
			border-radius: 6px;
			color: #222;
			margin-left: 10px;
		}
		
		h1 {
			text-align: center;
			/* 중앙 정렬 */
			margin-bottom: 20px;
			/* 제목 아래 간격 */
		}
		
		.tree li {
			list-style: none;
			margin: 8px 0;
			font-weight: 500;
			color: #333;
		}
		
		.tree ul {
			padding-left: 20px;
		}
	</style>
</head>

<body>
	<h1 class="py-3">결재 관리</h1>
	<div class="card mx-5 px-3 py-5">
		<h3 class="card-title">서명 이미지 관리</h3>
		<button id="addSignBtn" class="btn btn-primary">파일 첨부</button>
		<table id="SignsTable" class="display table table-striped table-bordered mt-2">
			<thead>
				<tr>
					<th>서명</th>
					<th>제목</th>
					<th>등록일</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="sign, sts : ${signs}">
					<tr>
						<th>
							<img th:src="@{/{path}(path=${sign.signPath})}" 
							th:alt="${sign.signTitle}" 
							width="50" 
							height="50">
						</th>
						<th>[[ ${sign.signTitle} ]]</th>
						<th>[[ ${sign.insertDate} ]]</th>
						<th><button th:onclick="|killSign(${sign.signNo})|" class="btn btn-primary">삭제</button></th>
					</tr>
				</th:block>
			</tbody>
		</table>
		<input id="signFileInput" type="file" multiple style="display: none;">
		*서명은 최대 3개까지 등록 가능합니다.<br>
		서명이 3개 넘을 시 등록된 서명을 삭제 후 등록할 수 있습니다.
		<hr>
	</div>
	
	<div class="card mx-5 px-3 py-5 mt-5">
		<h3 class="card-title">결재선 리스트</h3>
		<button 
			id="setApprLine"
			class="btn btn-primary"
			data-bs-toggle="modal" 
			data-bs-target="#addApprLineModal"
			data-bs-apprlineNo=""
			data-bs-insertTitle=""
			>
			결재선 추가
		</button>
		<table id="ApprLines" class="display table table-striped table-bordered mt-2">
			<thead>
				<tr>
					<th>제목</th>
					<th>등록일</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="apprLine, sts : ${apprLines}">
					<tr 
						data-bs-toggle="modal" 
						data-bs-target="#addApprLineModal" 
						th:data-bs-apprlineNo="${apprLine.apprlineNo}"
						th:data-bs-insertTitle="${apprLine.insertTitle}"
						>
						<th>[[ ${apprLine.insertTitle} ]]</th>
						<th>[[ ${apprLine.insertDate} ]]</th>
						<th><button th:onclick="|killApprLine(${apprLine.apprlineNo}, event)|" class="btn btn-primary">삭제</button></th>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
	
	<!-- 모달 창 -->
	<div class="modal fade" id="addApprLineModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">결재선 조정</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="apprlineNo">
					<label for="insertTitle" class="col-form-label">결재선 이름</label>
					<input type="text" class="form-control" id="insertTitle">
					<table class="table mt-3">
						<tbody>
							<tr>
								<td>
									<h5>조직도</h5>
									<div class="tree-panel">
										<ul class="tree">
											<li th:each="dpt : ${names}">
												<span class="folder">[[ ${dpt.departmentName} ]]</span>
												<ul>
													<li th:each="team : ${dpt.teamList}">
														<span class="teamN" th:data-tn="${team.teamName}">[[ ${team.teamName} ]]</span>
														<ul>
															<li th:each="name : ${team.empList}">
																<span class="employee" 
																	th:data-tn="${team.teamName}"
																	th:data-id="${name.userNo}"
																	th:onclick="| addApprElmnt(${name.userNo}) |">
																	[[ ${name.userName}]]
																</span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</td>
								<td>
									<table id="ApprovalTable" class="display table table-striped table-bordered mt-2">
										<thead>
											<tr>
												<th>결재 순서</th>
												<th>이름</th>
												<th>직책</th>
												<th>팀</th>
												<th>부서</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="saveApprElmnts">저장</button>
					<button type="button" class="btn btn-secondary" id="closeModalBtn" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script th:inline="javascript">
	let apprElmntList = [];
	
	// 화면이 로드될때 실행
	$(document).ready(function() {
		$('#SignsTable').DataTable();
		$('#ApprLines').DataTable();
		$('#ApprovalTable').DataTable();
		
		let names = document.querySelectorAll('.employee'); // 사원이름 
	    let teamNames = document.querySelectorAll('.teamN'); // 팀이름
		
		for (let teamclick of teamNames) {
	    	teamclick.addEventListener('click', e => {
	   			const team = e.target.dataset.tn; // 클릭된 팀의 data-tn 값 가져오기
	    		document.querySelectorAll('.employee').forEach(namedisplay => { // 사원 이름 보이게
		    		if (namedisplay.dataset.tn === team) {
		    			namedisplay.style.display = 'block'; // 클릭된 팀에 속한 사원만 보이게
		    		} else {
		    			namedisplay.style.display = 'none'; // 클릭된 팀 이외의 사원은 숨기기
		    		}
		    	});
	    	});
	    }
	});
	
	// 서명 파일 추가 버튼을 누를때 행동
	$('#addSignBtn').on('click', function() {
		// #SignsTable의 데이터 줄 수를 확인
        var table = $('#SignsTable').DataTable();
        var rowCount = table.rows().count();

        // 데이터 줄 수가 3 이상이면 추가 거절
        if (rowCount >= 3) {
            alert("서명 파일은 최대 3개까지만 추가할 수 있습니다."); // 사용자에게 알림 메시지 표시 (선택 사항)
            return; // 함수 실행 중단
        }
        
        $('#signFileInput').click();
    });

	// 서명 파일을 추가한다.
    $('#signFileInput').on('change', function() {
        const file = this.files[0];

        if (file) {
            const formData = new FormData();
            formData.append('file', file);

            $.ajax({
                url: [[ @{/approval/sign} ]], // 서명 추가 요청을 처리할 서버 URL
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    // 서버 응답 처리 (예: 테이블에 새 서명 추가)
                    alert(response);
                    location.reload(); // 페이지 새로고침
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }
    });
	
	// 서명 파일을 제거한다.
	function killSign(signNo) {
		const path = [[ @{/approval/sign} ]];
		fetch(`${path}/${signNo}`, {
			method: 'DELETE'
		})
		.then(response => response.json())
		.then(result => {
			if(result.success) {
				alert('서명이 삭제되었습니다.');
				location.reload(); // 페이지 새로고침
			}
			else {
				alert('삭제에 실패하였습니다.');
			}
		})
		.catch(error => {
			console.error('Error:', error);
			alert('서버 요청 중 오류가 발생했습니다.');
		});
	}
	
	// 결재선 모달이 열릴 때 실행
    $('#addApprLineModal').on('show.bs.modal', function(event) {
        let button = $(event.relatedTarget);  // 모달을 열게 한 요소 (tr)
        let apprlineNo = button.data('bs-apprlineno');  // 결재선 번호
        let insertTitle = button.data('bs-inserttitle');  // 결재선 이름
        apprElmntList = [];

        // 모달 내부 요소에 값 설정
        $('#apprlineNo').val(apprlineNo);
        $('#insertTitle').val(insertTitle);
        
        // apprlineNo가 비었으면 중간에 중단
        if(apprlineNo == null || apprlineNo == '') {
        	apprElmntList = [];
			loadApprElmnts();
        	return;
        }
        
        // 결재선을 이루는 결재자들을 apprElmntList에 저장한다.
        $.ajax({
			url: [[ @{/approval/summonApprElmnts} ]],
			type: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			data: JSON.stringify({
				'apprLineNo': apprlineNo
			}),
			success: function(response) {
				if(!Array.isArray(response)) {
					return;
				}
				apprElmntList = response;
				loadApprElmnts();
			}
		});
    });
	
	// apprElmntList의 내용을 모달화면에 띄운다
	function loadApprElmnts() {
	    let tbodyTag = $('#ApprovalTable > tbody');
	    tbodyTag.empty();

	    if (!Array.isArray(apprElmntList) || apprElmntList.length === 0) {
	        return;
	    }

	    apprElmntList.sort((a, b) => a.order - b.order); // 정렬 (order 속성이 있다고 가정)
	    
	    apprElmntList.forEach(function(element, index) {
	        let trTag = $(`
	        	<tr onclick="delApprElmnt()">
	        		<td>${index + 1}</td>
	        		<td>${element.userName}</td>
	        		<td>${element.userPosition}</td>
	        		<td>${element.teamName}</td>
	        		<td>${element.departmentName}</td>
	        	</tr>
	        `);
			tbodyTag.append(trTag);
	    });
	}
	
	// 조직도의 사원을 클릭하면 결재자로 apprElmntList에 저장한다
	function addApprElmnt(userNo) {
		if(apprElmntList.length >= 3) {
			return;
		}
		
		let urlBase = [[ @{/emp/organ/} ]];
		$.ajax({
			url: urlBase + userNo,
			type: 'GET',
			headers: {
				'Content-Type': 'application/json'
			},
			success: function(response) {
				if(response == null) {
					return;
				}
				
				apprElmntList.push(response);
				loadApprElmnts();
			}
		});
	}
	
	// apprElmntList에서 하나씩 결재자 정보를 삭제한다
	function delApprElmnt() {
		apprElmntList.pop();
		loadApprElmnts();
	}
	
	// 결재선 변경을 적용한다.
    $('#saveApprElmnts').on('click', function() {
    	const apprlineNo = $('#apprlineNo').val();
        const insertTitle = $('#insertTitle').val();
        const components = apprElmntList.map(element => element.userNo).join(',');
        
        if(insertTitle == '') {
        	alert('결재선 제목을 입력하세요!');
        	return;
        }
        
        if (apprlineNo == null || apprlineNo == '') {
            $.ajax({
                url: [[ @{/approval/apprLine} ]], // 결재선 추가 요청을 처리할 서버 URL
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                	apprlineNo: apprlineNo,
                	insertTitle: insertTitle,
                	components: components
                }),
                success: function(response) {
                    // 서버 응답 처리 (예: 테이블에 새 결재선 추가)
                    console.log(response);
                    location.reload(); // 페이지 새로고침
                }
            });
        }
        else {
        	$.ajax({
                url: [[ @{/approval/apprLine} ]], // 결재선 변경 요청을 처리할 서버 URL
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({
                	apprlineNo: apprlineNo,
                	insertTitle: insertTitle,
                	components: components
                }),
                success: function(response) {
                    // 서버 응답 처리 (예: 테이블에 새 결재선 추가)
                    console.log(response);
                    location.reload(); // 페이지 새로고침
                }
            });
        }
    });
	
	// 결재선 삭제를 적용한다
	function killApprLine(apprlineNo, event) {
		event.stopPropagation();  // 이벤트 전파 방지
	    event.preventDefault();   // 기본 동작 방지 (필요 시)
		
		$.ajax({
			url: [[ @{/approval/apprLine} ]],
			type: 'DELETE',
			contentType: 'application/json',
			data: JSON.stringify({
				apprlineNo: apprlineNo
			}),
			success: function(response) {
				// 서버 응답 처리 (예: 테이블에 새 결재선 추가)
                console.log(response);
                location.reload(); // 페이지 새로고침
			}
		});
	}
</script>

</html>