<!DOCTYPE html>
<html 
	xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/approval_layout}"
	layout:fragment="content"
	>

<head>
	<meta charset="UTF-8">
	<title>전자 결재</title>
</head>

<body>
	<div id="apprForm" class="card mx-5 px-3 py-5"></div>
	<div class="card mx-5 px-3 py-5">
		<table id="AttachTable" class="display table table-striped table-bordered mt-2">
		    <thead>
		        <tr>
		            <th>파일 이름</th>
		            <th>다운로드</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="file : ${fileList}">
		            <td th:text="${file.fileName}"></td>
		            <td>
		                <a th:href="@{/approval/download(fileNo=${file.repattachNo})}">
		                	<button class="btn btn-primary">다운로드</button>
		                </a>
		            </td>
		        </tr>
		    </tbody>
		</table>
		<table id="ApprovalsTable" class="display table table-striped table-bordered mt-2">
			<thead>
				<tr>
					<th>결재</th>
					<th>결재자</th>
					<th>결재부서</th>
					<th>결재일시</th>
					<th>의견</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="apprElmnt, sts : ${apprLine}">
					<tr>
						<td th:if="${apprElmnt.apprResult == 'a1'}">결재 대기</td>
						<td th:if="${apprElmnt.apprResult == 'a2'}">결재 승인</td>
						<td th:if="${apprElmnt.apprResult == 'a3'}">반려</td>
						<td>[[ ${apprElmnt.userName} ]]</td>
						<td>[[ ${apprElmnt.departmentName} ]]</td>
						<td>[[ ${apprElmnt.apprDate} ]]</td>
						<td>[[ ${apprElmnt.apprReason} ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<div class="d-flex justify-content-start gap-2 mt-3">
			<button id="delApprBtn" type="button" class="btn btn-secondary">삭제</button>
			<button id="apprBtn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#approveModal">결재</button>
			<button type="button" class="btn btn-primary" onclick="history.back();">취소</button>
		</div>
	</div>
	
	<!-- 모달 창 -->
	<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">결재 처리</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="apprResult" class="col-form-label">결재처리</label>
							<div>
								<input type="radio" name="apprResult" value="a2">승인
								<input type="radio" name="apprResult" value="a3">반려
							</div>
						</div>
						<div class="mb-3">
							<label for="signNo" class="col-form-label">결재서명</label>
							<div class="image-container">
								<th:block th:each="mySign : ${mySigns}">
							        <div class="image-item">
							            <input type="radio" name="signNo" class="radio-btn" th:value="${mySign.signNo}">
							            <img th:src="@{/{path}(path=${mySign.signPath})}" 
							            	th:alt="${mySign.signTitle}" 
							            	width="50" 
							            	height="50">
							        </div>
						        </th:block>
						    </div>
						</div>
						<div class="mb-3">
							<label for="apprReason" class="col-form-label">결재의견</label>
							<textarea name="apprReason" class="form-control" id="message-text"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="approveBtn">결재</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
	
</body>

<script th:inline="javascript">	
	let contextPath = [[ @{/upload/forms/approval/} ]];
	let approval = [[ ${approval} ]];
	let apprLine = [[ ${apprLine} ]];
	let refLine = [[ ${refLine} ]];
	
	// 화면이 준비되면 실행할 명령들
	$(document).ready(function() {
		// apprForm의 내용을 화면에 띄운다
		$('#apprForm').load(contextPath + approval.formPath + ".html", function() {
			$('#apprLine').load(contextPath + "apprLine.html", function() {
				$('#ApprovalsTable').DataTable({
					searching: false,
			        lengthChange: false,
			        info: false
			    });
				$('#AttachTable').DataTable({
					searching: false,
			        lengthChange: false,
			        info: false
			    });
				
				$('#apprNo').text(approval.apprNo);
				$('#userName').text(approval.userName);
				$('#userNo').text(approval.userNo);
				$('#departmentName').text(approval.departmentName);
				$('#createDate').text(approval.createDate.split("T")[0]);
				$('#expireDate').text(approval.expireDate.split("T")[0]);
				
				Object.keys(approval).forEach(function(key) {
					let target = $(`
						input[name='${key}'], select[name='${key}'], textarea[name='${key}'], button[name='${key}']
					`);
					if(target.length > 0) {
						let value = approval[key] !== null ? approval[key] : 'null';
				        target.val(value);
					}
				});
				
				$('#apprForm').find('input[name], select[name], textarea[name], button[name]').attr('readonly', true);
				$('#apprForm').find('input[name][type="radio"], input[name][type="checkbox"]').attr('onclick', 'return false;');
				
				$('#setApprLine').remove();
				
				let table = $('#apprLine');
				let departmentRow = table.find('tr').eq(0);
				let signRow = table.find('tr').eq(1);
				let nameRow = table.find('tr').eq(2);
				
				// 결재선 데이터 삽입
				$.each(apprLine, function(index, element) {
					if(index > 2) {
						return false;
					}

					let colIndex = index + 1;
					
					departmentRow.find('td').eq(colIndex - 1).text(element.departmentName);
					if(element.apprResult != 'a1') {
						let contextPath = [[ @{/} ]];
						let imgTag = $('<img>', {
					        src: contextPath + element.signPath,	// 이미지 경로
					        alt: '결재 사인',
					        width: 50,  // 이미지 크기 (원하는 크기로 조절)
					        height: 50
					    });
						console.log('옵저버', contextPath + element.signPath);
						signRow.find('td').eq(colIndex - 1).empty().append(imgTag);
					}
					nameRow.find('td').eq(colIndex - 1).text(element.userName);
				});
				
				// 참조선 데이터 삽입
				$.each(refLine, function(index, element) {
					console.log(refLine);
					let liTag = $(`<li> ${element.departmentName} &gt; ${element.teamName} &gt; ${element.userName} </li>`);
					$('#refLine').append(liTag);
				});
				
				if(approval.apprStatus != 'a1') {
					$('#delApprBtn').remove();
					$('#apprBtn').remove();
				}
				
				// 연차일 경우 연차 정보 보여주기
				if(approval.apprType == 'AF001') {
					let annual = [[ ${annual} ]];
					console.log(annual);
					
					$(`input[name="annualType"][value="${annual.annualType}"]`).attr('checked', true);
					$('input[name="annualStart"]').val(annual.annualStart.substr(0, 10));
					$('input[name="annualEnd"]').val(annual.annualEnd.substr(0, 10));
					$('input[name="annualCount"]').val(annual.annualCount);
				}
			});
		});
		
		console.log(contextPath + apprForm.formPath + ".html");
		console.log(contextPath + "apprLine.html");	
	});
	
	// 문서에 대해 결재한다
	$('#approveBtn').on('click', function() {
		let request = {
			'apprNo': approval.apprNo,
			'signNo': null
		};
		
		if($('input[name="apprResult"]:checked').length < 1) {
			alert('결재 의사를 정해주세요!');
			return;
		}
		
		if($('input[name="signNo"]:checked').length < 1) {
			alert('서명을 선택하세요!');
			return;
		}
		
		$('input[name]:checked, select[name], textarea[name], button[name]').each(function() {
		    let name = $(this).attr('name');
		    let value = $(this).val();

		    // 체크박스는 같은 name을 가진 값들이 여러 개 선택될 수 있으므로 배열로 저장
		    if ($(this).is(':checkbox')) {
		        if (!request[name]) {
		            request[name] = []; // 배열 초기화
		        }
		        request[name].push(value); // 체크된 값들을 배열에 추가
		    } else {
		        request[name] = value;
		    }
		});
		
		$.ajax({
			url: [[ @{/approval/read} ]],
			type: 'PUT',
			contentType: 'application/json',
			data: JSON.stringify(request),
			success: function(response) {
				if(response.success) {
					location.href = [[ @{/approval/waiting} ]];
				}
				else {
					alert('결재에 실패하였습니다.');
				}
			},
			error: function(error) {
				alert('결재에 실패하였습니다.');
			}
		});
		
	});
	
	// 아직 결재 완료가 안된 이 문서를 파기한다
	$('#delApprBtn').on('click', function() {
		if(!confirm('이 문서를 정말로 삭제하시겠습니까?')) {
			return;
		}
		
		const path = [[ @{/approval/read} ]];
		
		$.ajax({
			url: `${path}/${approval.apprNo}`,
			type: 'DELETE',
			contentType: 'application/json',
			success: function(response) {
				if(response.success) {
					alert('문서가 삭제되었습니다.');
					location.href = [[ @{/approval/waiting} ]];
				}
				else {
					alert('삭제에 실패하였습니다.');
				}
			},
			error: function(error) {
				alert('삭제에 실패하였습니다.');
			}
		});
		
	});
</script>

</html>