<!DOCTYPE html>
<html 
	xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/approval_layout}"
	layout:fragment="content"
	>

<head>
	<meta charset="UTF-8">
	<title>전자 결재</title>
</head>

<body>
	<div th:insert="~{|forms/approval/${approval.formPath}|}"></div>
	<div>
		<table id="AttachTable" class="display">
		    <thead>
		        <tr>
		            <th>파일 이름</th>
		            <th>다운로드</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="file : ${fileList}">
		            <td th:text="${file.fileName}"></td>
		            <td>
		                <a th:href="@{/approval/download(filePath=${file.filePath}, fileName=${file.fileName})}">
		                	<button class="btn btn-primary">다운로드</button>
		                </a>
		            </td>
		        </tr>
		    </tbody>
		</table>
		<table id="ApprovalsTable" class="display">
			<thead>
				<tr>
					<th>결재</th>
					<th>결재자</th>
					<th>결재부서</th>
					<th>결재일시</th>
					<th>의견</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="apprElmnt, sts : ${apprLine}">
					<tr>
						<td th:if="${apprElmnt.apprResult == 'a1'}">결재 대기</td>
						<td th:if="${apprElmnt.apprResult == 'a2'}">결재 승인</td>
						<td th:if="${apprElmnt.apprResult == 'a3'}">반려</td>
						<td>[[ ${apprElmnt.userName} ]]</td>
						<td>[[ ${apprElmnt.departmentName} ]]</td>
						<td>[[ ${apprElmnt.apprDate} ]]</td>
						<td>[[ ${apprElmnt.apprReason} ]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<button
			id="delApprBtn"
			type="button" 
			class="btn btn-secondary">
			삭제
		</button>
		<button 
			id="apprBtn"
			type="button" 
			class="btn btn-primary" 
			data-bs-toggle="modal" 
			data-bs-target="#approveModal" 
			data-bs-whatever="@mdo">
			결재
		</button>
		<button
			type="button"
			class="btn btn-primary"
			onclick="history.back();">
			취소
		</button>
	</div>
	
	<!-- 모달 창 -->
	<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">결재 처리</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<div class="mb-3">
							<label for="apprResult" class="col-form-label">결재처리</label>
							<input type="radio" name="apprResult" value="a2">승인
							<input type="radio" name="apprResult" value="a3">반려
						</div>
						<div class="mb-3">
							<label for="signNo" class="col-form-label">결재서명</label>
							<div class="image-container">
								<th:block th:each="mySign : ${mySigns}">
							        <div class="image-item">
							            <img th:src="${mySign.signPath}" th:alt="${mySign.signTitle}">
							            <br>
							            <input type="radio" name="signNo" class="radio-btn" th:value="${mySign.signNo}">
							        </div>
						        </th:block>
						    </div>
						</div>
						<div class="mb-3">
							<label for="apprReason" class="col-form-label">결재의견</label>
							<textarea name="apprReason" class="form-control" id="message-text"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="approveBtn">결재</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
	
</body>

<script th:inline="javascript">
	let approval = [[ ${approval} ]];
	let apprLine = [[ ${apprLine} ]];
	
	// 화면이 준비되면 실행할 명령들
	$(document).ready(function() {
		$('#ApprovalsTable').DataTable();
		$('#AttachTable').DataTable();
		
		$('#createDate').text(approval.createDate);
		$('#departmentName').text(approval.departmentName);
		$('#userNo').text(approval.userNo);
		$('#userName').text(approval.userName);
		$('#apprNo').text(approval.apprNo);

		Object.keys(approval).forEach(function(key) {
			let target = $(`input[name='${key}'], select[name='${key}'], textarea[name='${key}'], button[name='${key}']`);
			if (target.length > 0) {
				let value = approval[key] !== null ? approval[key] : 'null';
				target.val(approval[key]).attr('readonly', true);
			}
		});
		
		$('#setApprLine').remove();
		
		let table = $('#apprLine');
		let departmentRow = table.find('tr').eq(0);
		let signRow = table.find('tr').eq(1);
		let nameRow = table.find('tr').eq(2);
		
		// 결재선 데이터 삽입
		$.each(apprLine, function(index, element) {
			if(index > 2)
				return false;
			
			let colIndex = index + 1;
			
			departmentRow.find('td').eq(colIndex - 1).text(element.departmentName);
			if(element.apprResult != 'a1') {
				let imgTag = $('<img>', {
			        src: element.signPath,  // 이미지 경로
			        alt: '결재 사인',
			        width: 50,  // 이미지 크기 (원하는 크기로 조절)
			        height: 50
			    });
				
				signRow.find('td').eq(colIndex - 1).empty().append(imgTag);
			}
			nameRow.find('td').eq(colIndex - 1).text(element.userName);
		});
		
		if(approval.apprStatus != 'a1') {
			$('#delApprBtn').remove();
			$('#apprBtn').remove();
		}
	});
	
	// 문서에 대해 결재한다
	$('#approveBtn').on('click', function() {
		let request = {
			'apprNo': approval.apprNo,
			'signNo': null
		};
		
		$('input[name]:checked, select[name], textarea[name], button[name]').each(function() {
		    let name = $(this).attr('name');
		    let value = $(this).val();

		    // 체크박스는 같은 name을 가진 값들이 여러 개 선택될 수 있으므로 배열로 저장
		    if ($(this).is(':checkbox')) {
		        if (!request[name]) {
		            request[name] = []; // 배열 초기화
		        }
		        request[name].push(value); // 체크된 값들을 배열에 추가
		    } else {
		        request[name] = value;
		    }
		});
		
		fetch([[ @{/approval/read} ]], {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(request)
		})
		.then(response => response.json())
		.then(result => {
			if(result.success) {
				location.href = [[ @{/approval/waiting} ]];
			}
			else {
				alert('결재에 실패하였습니다.');
			}
		})
		.catch(error => {
			console.error('Error:', error);
			alert('서버 요청 중 오류가 발생했습니다.');
		});
	});
	
	// 아직 결재 완료가 안된 이 문서를 파기한다
	$('#delApprBtn').on('click', function() {
		if(!confirm('이 문서를 정말로 삭제하시겠습니까?')) {
			return;
		}
		
		const path = [[ @{/approval/read} ]];
		fetch(`${path}/${approval.apprNo}`, {
			method: 'DELETE'
		})
		.then(response => response.json())
		.then(result => {
			if(result.success) {
				alert('문서가 삭제되었습니다.');
				location.href = [[ @{/approval/waiting} ]];
			}
			else {
				alert('삭제에 실패하였습니다.');
			}
		})
		.catch(error => {
			console.error('Error:', error);
			alert('서버 요청 중 오류가 발생했습니다.');
		});
	});
</script>

</html>