<!DOCTYPE html>
<html 
	xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/approval_layout}"
	layout:fragment="content"
	>

<head>
	<meta charset="UTF-8">
	<title>전자 결재</title>
</head>

<body>
	<h3>결재 진행</h3>
	<ul class="list">
		<li>기안자<input></li>
		<li>양식명<input></li>
		<li>문서번호<input></li>
		<li>결재일<input type="date">~<input type="date"></li>
		<li><button><i class="fas fa-search"></i>검색</button></li>
	</ul>
	<table id="RejectionsTable" class="display">
		<thead>
			<tr>
				<th>NO</th>
				<th>결재문서번호</th>
				<th>양식명</th>
				<th>제목</th>
				<th>기안자</th>
				<th>기안부서</th>
				<th>기안일</th>
				<th>승인상태</th>
				<th>PDF</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="rejection, sts : ${rejectionList}">
				<tr th:onclick="| location.href = '@{/approval/read(apprNo=${rejection.apprNo})}' |">
					<td>[[ ${sts.count} ]]</td>
					<td>[[ ${rejection.apprNo} ]]</td>
					<td>[[ ${rejection.formName} ]]</td>
					<td>[[ ${rejection.apprTitle} ]]</td>
					<td>[[ ${rejection.userName} ]]</td>
					<td>[[ ${rejection.departmentName} ]]</td>
					<td th:text="${#dates.format(rejection.createDate, 'yyyy.MM.dd HH:mm:ss')}"></td>
					<td>반려</td>
					<td><button th:onclick="| event.stopPropagation(); location.href='@{/approval/pdf(apprNo=${rejection.apprNo})}' |">다운받기</button></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</body>

<script>
	$(document).ready(function() {
		$('#RejectionsTable').DataTable();
	});
</script>

</html>