<!DOCTYPE html>
<html 
	xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/approval_layout}"
	layout:fragment="content"
	>

<head>
	<meta charset="UTF-8">
	<title>전자 결재</title>
</head>

<body>
	<h3>결재 진행</h3>
	<ul class="list">
		<li>기안자<input></li>
		<li>양식명<input></li>
		<li>문서번호<input></li>
		<li><button><i class="fas fa-search"></i>검색</button></li>
	</ul>
	<table id="WaitingsTable" class="display">
		<thead>
			<tr>
				<th>NO</th>
				<th>결재문서번호</th>
				<th>양식명</th>
				<th>제목</th>
				<th>기안자</th>
				<th>기안부서</th>
				<th>기안일</th>
				<th>승인상태</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>3</td>
				<td>YD001</td>
				<td>휴가</td>
				<td>휴가 신청합니다</td>
				<td>홍길동</td>
				<td>개발부</td>
				<td>2022-01-20</td>
				<td>진행중</td>
			</tr>
			<tr>
				<td>2</td>
				<td>YD003</td>
				<td>휴가</td>
				<td>휴가 신청합니다</td>
				<td>홍길동</td>
				<td>개발부</td>
				<td>2022-02-01</td>
				<td>진행중</td>
			</tr>
			<tr>
				<td>1</td>
				<td>YD005</td>
				<td>회의</td>
				<td>회의 신청합니다</td>
				<td>홍길동</td>
				<td>개발부</td>
				<td>2022-03-10</td>
				<td>대기중</td>
			</tr>
		</tbody>
	</table>
</body>

<script>
	$(document).ready(function() {
		$('#WaitingsTable').DataTable({
			searching: false
		});
	});
</script>

</html>