<!DOCTYPE html>
<html 
	xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/approval_layout}"
	layout:fragment="content"
	>

<head>
	<meta charset="UTF-8">
	<title>전자 결재</title>
</head>

<body>
	<div th:insert="~{|/forms/approval/${apprForm.formPath}|}"></div>
	<table id="AttachTable" class="display">
		<thead>
			<tr>
				<th>파일명</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<input type="file" id="fileInput" multiple style="display: none;">
	<button
		id="attachBtn"
		class="btn btn-primary">
		첨부
	</button>
	<button
		id="submitBtn"
		class="btn btn-secondary">
		결재요청
	</button>
	<button
		id="cancelBtn"
		class="btn btn-primary">
		취소
	</button>
	
	<!-- 모달 창 -->
	<div class="modal fade" id="addApprLineModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">결재 처리</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<table class="table mt-3">
						<tbody>
							<tr>
								<td>
									<h5>조직도</h5>
									<div class="tree-panel">
										<ul class="tree">
											<li th:each="dpt : ${names}">
												<span class="folder">[[ ${dpt.departmentName} ]]</span>
												<ul>
													<li th:each="team : ${dpt.teamList}">
														<span class="teamN" th:data-tn="${team.teamName}">[[ ${team.teamName} ]]</span>
														<ul>
															<li th:each="name : ${team.empList}">
																<span class="employee" 
																	th:data-tn="${team.teamName}"
																	th:data-id="${name.userNo}"
																	th:onclick="| addElmnt(${name.userNo}) |"
																	>
																	[[ ${name.userName}]]
																</span>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</td>
								<td id="apprOrRef" rowspan="2">
									<input type="radio" class="form-check-input" name="apprOrRef" value="appr">결재선으로
									<input type="radio" class="form-check-input" name="apprOrRef" value="ref">참조자로
								</td>
								<td>
									<table id="ApprovalTable" class="display">
										<thead>
											<tr>
												<th>결재 순서</th>
												<th>이름</th>
												<th>직책</th>
												<th>부서</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<h5>내 결재선</h5>										
									<ul class="list-group">
										<th:block th:each="apprLine : ${apprLineList}">
											<li class="list-group-item" th:onclick="| summonApprElmnts(${apprLine.apprlineNo}) |">[[ ${apprLine.insertTitle} ]]</li>
										</th:block>
									</ul>
								</td>
								<td>
									<table id="ReferrersTable" class="display">
										<thead>
											<tr>
												<th>이름</th>
												<th>직책</th>
												<th>부서</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="saveApprRefElmnts">저장</button>
					<button type="button" class="btn btn-secondary" id="closeModalBtn" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script th:inline="javascript">
	let creator = [[ ${creator} ]];
	let apprForm = [[ ${apprForm} ]];
	let apprElmntList = [];
	let refElmntList = [];
	const fileInput = $('#fileInput');
	
	// apprElmntList의 내용을 모달화면에 띄운다
	function loadApprElmnts() {
	    let tbodyTag = $('#ApprovalTable > tbody');
	    tbodyTag.empty();

	    if (!Array.isArray(apprElmntList) || apprElmntList.length === 0) {
	        return;
	    }

	    apprElmntList.sort((a, b) => a.order - b.order); // 정렬 (order 속성이 있다고 가정)
	    
	    apprElmntList.forEach(function(element, index) {
	        let trTag = $(`
	        	<tr onclick="delApprElmnt()">
	        		<td>${index + 1}</td>
	        		<td>${element.userName}</td>
	        		<td>${element.teamName}</td>
	        		<td>${element.departmentName}</td>
	        	</tr>
	        `);
			tbodyTag.append(trTag);
	    });
	}
	
	// refElmntList의 내용을 모달화면에 띄운다
	function loadRefElmnts() {
		let = tbodyTag = $('#ReferrersTable > tbody');
		tbodyTag.empty();
		
		if (!Array.isArray(refElmntList) || refElmntList.length === 0) {
			return;
		}
		
		refElmntList.forEach(function(element) {
			let trTag = $(`
				<tr onclick="delRefElmnt()">
					<td>${element.userName}</td>
					<td>${element.teamName}</td>
					<td>${element.departmentName}</td>
				</tr>
			`);
			tbodyTag.append(trTag);
		});
	}
	
	// 조직도의 사원을 클릭하면 결재자로 apprElmntList에 저장한다
	function addApprElmnt(userNo) {
		if(apprElmntList.length >= 3) {
			return;
		}
		
		let urlBase = [[ @{/emp/organ/} ]];
		$.ajax({
			url: urlBase + userNo,
			type: 'GET',
			headers: {
				'Content-Type': 'application/json'
			},
			success: function(response) {
				if(response == null) {
					return;
				}
				
				apprElmntList.push(response);
				loadApprElmnts();
			}
		});
	}
	
	// 조직도의 사원을 클릭하면 참조자로 refElmntList에 저장한다
	function addRefElmnt(userNo) {
		let urlBase = [[ @{/emp/organ/} ]];
		$.ajax({
			url: urlBase + userNo,
			type: 'GET',
			headers: {
				'Content-Type': 'application/json'
			},
			success: function(response) {
				if(response == null) {
					return;
				}
				
				refElmntList.push(response);
				loadRefElmnts();
			}
		});
	}
	
	// apprElmntList에서 하나씩 결재자 정보를 삭제한다
	function delApprElmnt() {
		apprElmntList.pop();
		loadApprElmnts();
	}
	
	// refElmntList에서 하나씩 결재자 정보를 삭제한다
	function delRefElmnt() {
		refElmntList.pop();
		loadRefElmnts();
	}
	
	// 조직도의 사원을 클릭하면 apprElmntList에 저장할지, refElmntList에 저장할지 알아서 해준다
	function addElmnt(userNo) {
		const result = $('#apprOrRef > input[type="radio"]:checked').val();
		if(result == 'appr') {
			addApprElmnt(userNo);
		}
		else if(result == 'ref') {
			addRefElmnt(userNo);
		}
	}
	
	// 결재선을 클릭하면 결재선을 이루는 결재자들을 apprElmntList에 저장한다.
	function summonApprElmnts(apprLineNo) {
		$.ajax({
			url: [[ @{/approval/summonApprElmnts} ]],
			type: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			data: JSON.stringify({
				'apprLineNo': apprLineNo
			}),
			success: function(response) {
				if(!Array.isArray(response)) {
					return;
				}
				
				apprElmntList = response;
				loadApprElmnts();
			}
		});
	}
	
	
	// 화면이 준비되면 실행할 명령들
	$(document).ready(function() {
		const today = new Date();
		const year = today.getFullYear();
		const month = (today.getMonth() + 1).toString().padStart(2, '0');
		const day = today.getDate().toString().padStart(2, '0');
		
		$('#ApprovalsTable').DataTable();
		$('#AttachTable').DataTable();
		$('#ApprovalTable').DataTable({
		    lengthChange: false,
		    searching: false,
		    ordering: false,
		    info: false,
		    paging: false
		});
		$('#ReferrersTable').DataTable({
		    lengthChange: false,
		    searching: false,
		    ordering: false,
		    info: false,
		    paging: false
		});
		
		$('#createDate').text(`${year}-${month}-${day}`);
		$('#departmentName').text(creator.departmentName);
		$('#userNo').text(creator.userNo);
		$('#userName').text(creator.userName);
	});

	// apprElmntList의 정보를 결재선 양식에, refElmntList의 정보를 참조자에 등록한다
	$('#saveApprRefElmnts').on('click', function() {
		let table = $('#apprLine');
		table.find('td').text('');
		
		if (!Array.isArray(apprElmntList) || apprElmntList.length === 0) {
	        return;
	    }
		
		let departmentRow = table.find('tr').eq(0);
		let signRow = table.find('tr').eq(1);
		let nameRow = table.find('tr').eq(2);
		
		// 결재선 데이터 삽입
		$.each(apprElmntList, function(index, element) {
			if(index > 2)
				return false;
			
			let colIndex = index + 1;
			
			departmentRow.find('td').eq(colIndex - 1).text(element.departmentName);
			nameRow.find('td').eq(colIndex - 1).text(element.userName);
		});
		
		// 참조선 데이터 삽입
		$.each(refElmntList, function(index, element) {
			let liTag = $(`<li> ${element.departmentName} &lt; ${element.teamName} &lt; ${element.userName} </li>`);
			$('#refLine').append(liTag);
		})
		
		$('#closeModalBtn').trigger('click');
	});
	
	// id="fileInput"인 태그의 행동
	fileInput.on('change', function() {
		const table = $('#AttachTable').DataTable();
        for(let file of fileInput[0].files) {
        	const fileName = file.name;
            const deleteButton = '<button id="delFileBtn" class="btn btn-primary">삭제</button>';

         	// DataTable에 행 추가
            const rowNode = table.row.add([fileName, deleteButton]).draw().node();

            // "삭제" 버튼 클릭 시 해당 행 삭제
            $(rowNode).find('#delFileBtn').on('click', function() {
                table.row($(this).parents('tr')).remove().draw();
            });
        }
	})
	
	// 파일을 추가한다.
	$('#attachBtn').on('click', function(event) {
		fileInput.click();
	})
	
	// 결재문서 데이터를 JSON으로 서버로 전송한다.
	$('#submitBtn').on('click', function(event) {
		if ((!Array.isArray(apprElmntList) || apprElmntList.length < 2) && apprForm.apprType != 'AF004') {
			alert('결재선을 2명 이상으로 설정해 주세요!');
        	return;
    	}
		
		const formData = new FormData();
		
		// 일반 JSON데이터 추가
		let name;
		let value;
		let request = {};
		
		$('input[name], select[name], textarea[name], button[name]').each(function() {
		    name = $(this).attr('name');
		    value = $(this).val();
		    request[name] = value;
		});
		
		$('input[type="radio"]:checked, input[type="checkbox"]:checked').each(function() {
			name = $(this).attr('name');
		    value = $(this).val();
		    
		    // 체크박스는 같은 name을 가진 값들이 여러 개 선택될 수 있으므로 배열로 저장
		    if ($(this).is(':checkbox')) {
		        if (!request[name]) {
		            request[name] = []; // 배열 초기화
		        }
		        request[name].push(value); // 체크된 값들을 배열에 추가
		    } else {
		        request[name] = value;
		    }
		});
		
		// 결재선 추가
		let approverList = [];
		apprElmntList.forEach(function(element) {
			approverList.push(element.userNo);
		});
		request['approverList'] = approverList;		
		
		// 참조선 추가
		let referrerList = [];
		refElmntList.forEach(function(element) {
			referrerList.push(element.userNo);
		})
		request['referrerList'] = referrerList;
		
		console.log(request);
		formData.append('request', JSON.stringify(request));
		
		// 파일 데이터 추가
		const fileInput = document.getElementById('fileInput');
		for(let file of fileInput.files) {
			formData.append('files', file);
		}
		
		$.ajax({
			url: [[ @{/approval/write} ]],
			type: 'POST',
			processData: false,  // FormData 사용 시 필수!
		    contentType: false,  // FormData 사용 시 필수!
			data: formData,
			success: function(response) {
				if(response.success) {
					alert('결재등록에 성공하였습니다!');
					location.href = [[ @{/approval/waiting} ]];
				}
				else {
					alert('결재등록에 실패하였습니다.');
				}
			},
			error: function(error) {
				console.error('Error : ' + error);
				alert('서버 요청 중 오류가 발생했습니다.');
			}
		});
	});
	
	// 결재신청 화면으로 되돌아간다
	$('#cancelBtn').on('click', function(event) {
		 location.href = [[ @{/approval/formList} ]]; 
	})
</script>

</html>