<!DOCTYPE html>
<html 
	xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/approval_layout}"
	layout:fragment="content"
	>

<head>
	<meta charset="UTF-8">
	<title>전자 결재</title>
</head>

<body>
	<div th:insert="~{forms/approval/annualLeave :: FormFrag}"></div>
	<div>
		<table id="AttachTable" class="display">
			<thead>
				<tr>
					<th>파일명</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<button class="btn btn-primary">첨부</button>
		<button
			type="button" 
			class="btn btn-secondary">
			결재요청
		</button>
		<button
			type="button" 
			class="btn btn-primary"
			th:onclick="| location.href = '@{formList}' |">
			취소
		</button>
	</div>
	
	<!-- 모달 창 -->
	<div class="modal fade" id="addApprLineModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">결재 처리</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form>
						<table class="table mt-3">
							<tbody>
								<tr>
									<td>
										<h5>내 결재선</h5>										
										<ul class="list-group">
											<th:block th:each="apprLine, sts : ${apprLineList}">
												<li class="list-group-item"> </li>
											</th:block>
										</ul>
									</td>
									<td>
										<ul class="list-group">
											<li class="list-group-item">결재선 추가</li>
											<li class="list-group-item">결재선 제거</li>
										</ul>
									</td>
									<td>
										<table id="ApprovalTable" class="display">
											<thead>
												<tr>
													<th>결재 순서</th>
													<th>이름</th>
													<th>직책</th>
													<th>부서</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td>
										<h5>조직도</h5>
									</td>
									<td>
										<ul class="list-group">
											<li class="list-group-item">참조자 추가</li>
											<li class="list-group-item">참조자 제거</li>
										</ul>
									</td>
									<td>
										<table id="ReferrersTable" class="display">
											<thead>
												<tr>
													<th>이름</th>
													<th>직책</th>
													<th>부서</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>고길동</td>
													<td>사원</td>
													<td>개발부</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="insertApproval">저장</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
</body>

<script th:inline="javascript">
	$(document).ready(function() {
		// 현재 이 문서를 작성하는 사람의 정보
		let creator = [[ ${creator} ]];
		// 오늘 날짜
		const today = new Date();
		// 년도
		const year = today.getFullYear();
		// 월
		const month = (today.getMonth() + 1).toString().padStart(2, '0');
		// 일
		const day = today.getDate().toString().padStart(2, '0');
		
		$('#ApprovalsTable').DataTable();
		$('#AttachTable').DataTable();
		
		$('#ApprovalTable').DataTable({
		    lengthChange: false,
		    searching: false,
		    ordering: false,
		    info: false,
		    paging: false
		});
		$('#ReferrersTable').DataTable({
		    lengthChange: false,
		    searching: false,
		    ordering: false,
		    info: false,
		    paging: false
		});
		
		console.log(creator.userName);
		
		$('#createDate').text(`${year}-${month}-${day}`);
		$('#departmentName').text(creator.departmentName);
		$('#userNo').text(creator.userNo);
		$('#userName').text(creator.userName);
		
		$('#insertApproval').on("click", function(event) {
			let data = {
				apprTitle: $('#apprTitle').text(),
				apprContent: $('#apprContent').text(),
				createDate: $('#createDate').text(),
				expireDate: $('#expireDate').text(),
				apprStatus: 'a1',
				deptNo: null,
				apprDate: null,
				reportNo: $('#reportNo').text(),
				userNo: $('userNo').text(),
				reserNo: $('reserNo').text(),
				apprType: $('apprType').text()
			}
			fetch('[[ @{/approval/write} ]]', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringfy(data)
			})
			.then(response => response.json())
			.then(data => {
				console.log(data);
				if(data.result > 0) {
					alert('결재서가 새롭게 등록되었습니다.');
					location.href = '[[ @{/approval/waiting} ]]';
				}
			});
		})
	});
</script>

</html>