<!DOCTYPE html>
<html 
    xmlns:th="https://www.thymeleaf.org/"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layouts/default_layout}"
    layout:fragment="content"
    >

<head>
    <meta charset="UTF-8">
    <title>WorkMate</title>
</head>

<body>
        <main class="container-fluid">
        <div class="row mx-5">
            <div class="col-md-12">
                <div class="card p-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col"><h4>현재 시간</h4></div>
                            </div>
                            <div class="row">
                                <div class="col"><h1>2025년 3월 13일</h1></div>
                            </div>
                            <div class="row">
                                <div class="col"><h1 id="current-time">02:41:56</h1></div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                            <button class="btn btn-primary mb-2">출근하기</button>
                            <button class="btn btn-secondary">퇴근하기</button>
                        </div>
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                            <div>근무 타입 신청</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-5">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card p-3 h-100">
                            <h5>오늘의 할 일</h5>
                            <table id="scheduleTable" class="stripe">
                            	<thead>
                            		<tr>
                            			<th>유형</th>
                            			<th>제목</th>
                            			<th>종료일</th>
                            		</tr>
                            	</thead>
                            	<tbody>
                            		<th:block th:each="schedule : ${scheduleList}">
                            			<tr>
                            				<th>[ [[ ${schedule.scheduleTypeName} ]] ]</th>
                            				<th>[[ ${schedule.scheduleContent} ]]</th>
                            				<th th:text="${#dates.format(schedule.scheduleEndDate, 'yyyy.MM.dd')}"></th>
                            			</tr>
                            		</th:block>
                            	</tbody>
                            	<tr th:if="${#lists.isEmpty(scheduleList)}">
                            		<td colspan="3">오늘의 일정은 딱히 없습니다</td>
                            	</tr>
                            	<tr>
                            		<td colspan="3"><a th:href=@{/calendar}>캘린더로 가기</a></td>
                            	</tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card p-3 h-100">
                            <h5>메일 목록</h5>
                            <table id="mailTable" class="stripe">
                            	<thead>
                            		<tr>
                            			<th>제목</th>
                            			<th>발송일시</th>
                            		</tr>
                            	</thead>
                            	<tbody>
                            		<th:block th:each="mail : ${mailList}">
                            			<tr th:onclick="| location.href = '@{/mail/view(mailId=${mail.mailId})}' |">
                            				<th>[[ ${mail.subject} ]]</th>
                            				<th th:text="${#dates.format(mail.sentAt, 'yyyy.MM.dd')}"></th>
                            			</tr>
                            		</th:block>
                            	</tbody>
								<tr th:if="${#lists.isEmpty(mailList)}">
	                           		<td colspan="3">받은 메일이 딱히 없습니다</td>
	                           	</tr>
	                           	<tr>
	                           		<td colspan="3"><a th:href=@{/mail/mailmain}>메일함으로 가기</a></td>
	                           	</tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card p-3 h-100">
                            <h5>결재 목록</h5>
                            <table id="approvalTable" class="stripe">
                            	<thead>
                            		<tr>
                            			<th>제목</th>
                            			<th>상신일</th>
                            			<th>결재 상태</th>
                            		</tr>
                            	</thead>
                            	<tbody>
                            		<th:block th:each="approval : ${approvalList}">
                            			<tr th:onclick="| location.href = '@{/approval/read(apprNo=${approval.apprNo})}' |">
                            				<th>[[ ${approval.apprTitle} ]]</th>
                            				<th th:text="${#dates.format(approval.createDate, 'yyyy.MM.dd')}"></th>
                            				<th>[[ ${approval.apprStatusName} ]]</th>
                            			</tr>
                            		</th:block>
                            	</tbody>
								<tr th:if="${#lists.isEmpty(approvalList)}">
	                           		<td colspan="3">님과 관련된 결재가 없습니다</td>
	                           	</tr>
	                           	<tr>
	                           		<td colspan="3"><a th:href=@{/approval/waiting}>전자결재로 가기</a></td>
	                           	</tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script>
        setInterval(function() {
        	let now = new Date();
        	$('#current-time').text(now.toLocaleTimeString());
        }, 1000);
    	
    	$(document).ready(function() {
    		const dataTableSettings = {
				"lengthChange": false,
				"searching": false,
				"paging": false,
				"info": false
   			}
    		
    		$('#scheduleTable').DataTable(dataTableSettings);
    		$('#mailTable').DataTable(dataTableSettings);
    		$('#approvalTable').DataTable(dataTableSettings);
    	})
    	
    </script>
    
</body>

</html>