<div xmlns:th="https://www.thymeleaf.org" th:fragment="apprLineFrag">

<!-- 결재선 기본값으로 신청 1명, 승인 2~3명으로 설정--> 
<style>
	table#apprLine {
	    width: 75px;
	    table-layout: fixed;
	    border: 1px solid black;
	    border-collapse: collapse;
	    margin-left: auto;
	}
	
	table#apprLine th, 
	table#apprLine td {
	    border: 1px solid black;
	    width: 75px;
	    text-align: center;
	    white-space: nowrap;
	    overflow: hidden;
	}
	
	table#apprLine tr:nth-child(1), /* 첫 번째 행 */
	table#apprLine tr:nth-child(3) { /* 세 번째 행 */
	    height: 20px; /* 줄여서 높이 감소 */
	}
	
	table#apprLine tr:nth-child(2) { /* 두 번째 행 */
	    height: 75px; /* 늘려서 높이 증가 */
	}
</style>
<table id="apprLine">
	<tr>
		<th>부서명</th>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>사인</th>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>성명</th>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
<button 
	id="setApprLine"
	data-bs-toggle="modal" 
	data-bs-target="#addApprLineModal" 
	data-bs-whatever="@mdo">
	결재선 지정
</button>

</div>