<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/attendance_layout}"
	layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>근태관리</title>
<style>
/* 전체 컨테이너를 세로 배치 */
.main-container {
	display: flex;
	width: 100%;
}

/* 오른쪽 컨테이너 (카드들을 세로 정렬) */
.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#card-top, #card-bottom {
	width: 100%;
	padding: 30px;
	margin: 10px 0; /* 상하 간격 추가 */
	flex-grow: 1;
}
.content {
	flex: 1;
	padding: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.table-container {
	max-height: 300px;
	overflow-y: auto;
	border: 1px solid #ccc;
	display: block;
}

.table-responsive {
	max-height: 400px; 
	overflow-y: auto;
}
</style>
</head>
<body>
	<div class="main-container">		

		<!-- 오른쪽 컨테이너 -->
		<div class="container">
			<div class="card" id="card-top">
				<div class="card-body">
					<!-- 내용 추가 -->
					<h3 class="card-title">올해 연차</h3>
					<p>연차 기준 : 1월 ~ 12월</p>
					<table class="table table-head-bg-primary mt-4">
                      <thead>
                        <tr>
                          <th scope="col">올해발생연차</th>
                          <th scope="col">사용연차</th>
                          <th scope="col">잔여연차</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="occ : ${occs}">
                          <td>[[ ${occ.occAnnual} ]]</td>
                          <td>[[ ${occ.usedAnnualCount} ]]</td>
                          <td>[[ ${occ.remainAnlLeave} ]]</td>
                        </tr>                        
                      </tbody>
                    </table>
				</div>
			</div>
			<div class="card" id="card-bottom">
				<div class="card-body">
					<!-- 내용 추가 -->
					<div class="content">
						<h4 class="card-title">내 연차 사용내역 조회</h4>	
						
					<!-- 년도 월별 조회 기능 -->					
					<div class="date-select">
					<label><b>기간 조회: <b></label>				
					<input type="text" name="daterange"/>						
				
					</div>			
						<div class="table-responsive">
							<table id="annualTable" class="table">
								<thead>
									<tr>
										<th>연차신청일</th>
										<th>사용일</th>
										<th>발생기간</th>
										<th>유형</th>
										<th>내용</th>
									</tr>
								</thead>
								<tbody>
									<!-- 단건 : 배열 -->
									<tr th:each="anl: ${anls}">
										<td>[[ ${#dates.format(anl.apprDate, 'yyyy/MM/dd')} ]]</td>
										<td>[[ ${#dates.format(anl.annualStart, 'yyyy/MM/dd')} ]]</td>
										<td>[[ ${anl.annualCount} ]]</td>
										<td>[[ ${anl.annualType} ]]</td>
										<td>[[ ${anl.apprContent} ]]</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="resources/js/plugin/datepicker/bootstrap-datepicker.ko.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
$('#annualTable').DataTable({
	order: [ [ 0, "desc" ] ],
	info: false,
});

$(function(){
	// datepicker 설정
	  $('input[name="daterange"]').daterangepicker({
		format : "yyyy-MM-dd", 
		autoclose: true,
		todayHighlight: true,
	    opens: 'left',
	    templates : {
	        leftArrow: '&laquo;',
	        rightArrow: '&raquo;'
	    },
	    locale: {
	        format: 'YYYY-MM-DD'
	      },
	    startDate: moment(),
	    endDate: moment(),
	  }, function(start, end, label) {
	    console.log(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
	  });
	  
	// apply event
		$('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
			  const stDate = picker.startDate.format('YYYY-MM-DD');
			  const endDate = picker.endDate.format('YYYY-MM-DD');
			  
			  //상대경로
			  location.href = `annual?stDate=${stDate}&endDate=${endDate}`;				 
	  });	  
	  
}); //end of $(function()
</script>
</html>