<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<th:block th:fragment="DefaultConfig">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link
      rel="icon"
      th:href="@{/assets/img/kaiadmin/favicon.ico}"
      type="image/x-icon"
    />

	<!-- CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/plugins.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/kaiadmin.min.css}" />
	
	<!-- Datatables(1.10.16) -->
	<link rel="stylesheet" href="//cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" />
	
	
    <!-- Fonts and icons -->
    <script th:src="@{/assets/js/plugin/webfont/webfont.min.js}"></script>
    <script>
      WebFont.load({
        google: { families: ["Public Sans:300,400,500,600,700"] },
        custom: {
          families: [
            "Font Awesome 5 Solid",
            "Font Awesome 5 Regular",
            "Font Awesome 5 Brands",
            "simple-line-icons",
          ],
          urls: ["[[@{/assets/css/fonts.min.css}]]"],
        },
        active: function () {
          sessionStorage.fonts = true;
        },
      });
    </script>    
    
    <!--   Core JS Files   -->
    <script th:src="@{/assets/js/core/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/assets/js/core/popper.min.js}"></script>
    <script th:src="@{/assets/js/core/bootstrap.min.js}"></script>

	<!-- bootstrap bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script th:src="@{/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>

    <!-- Chart JS -->
    <script th:src="@{/assets/js/plugin/chart.js/chart.min.js}"></script>

    <!-- jQuery Sparkline -->
    <script th:src="@{/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js}"></script>

    <!-- Chart Circle -->
    <script th:src="@{/assets/js/plugin/chart-circle/circles.min.js}"></script>

    <!-- Datatables(1.10.16) -->
    <script th:src="@{/assets/js/plugin/datatables/datatables.min.js}"></script>

    <!-- Bootstrap Notify -->
    <script th:src="@{/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>

    <!-- jQuery Vector Maps -->
    <script th:src="@{/assets/js/plugin/jsvectormap/jsvectormap.min.js}"></script>
    <script th:src="@{/assets/js/plugin/jsvectormap/world.js}"></script>

    <!-- Sweet Alert -->
    <script th:src="@{/assets/js/plugin/sweetalert/sweetalert.min.js}"></script>

    <!-- Kaiadmin JS -->
    <script th:src="@{/assets/js/kaiadmin.min.js}"></script>
    
    <div class="jvm-tooltip"></div>
</th:block>

</html>