<!DOCTYPE html>
<div xmlns:th="https://www.thymeleaf.org" th:fragment="SidebarFrag">

<div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
          <a href="http://localhost:8099/workmate/" class="logo">
              <img
                th:src="@{/assets/img/logo.png}"
                alt="navbar brand"
                class="navbar-brand"
                height="30"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
          
            <ul class="nav nav-secondary">
              <!-- 고정 메뉴 -->
              <li class="nav-item">
                <a th:href="@{/}">
                  <i class="fas fa-home"></i>
                  <p>메인화면</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/search}">
                  <i class="fas fa-search"></i>
                  <p>검색</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  data-bs-toggle="collapse"
                  th:href="@{/}"
                  class="collapsed"
                  aria-expanded="false"
                >
                  <i class="fas fa-star"></i>
                  <p>즐겨찾기</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="dashboard">
                  <ul class="nav nav-collapse">
                    <li>
                      <a th:href="@{/}">
                        <span class="sub-item">메인화면</span>
                      </a>
                    </li>
                    <li>
                      <a th:href="@{/search}">
                        <span class="sub-item">검색</span>
                      </a>
                    </li>
                    <li>
                      <a th:href="@{/}">
                        <span class="sub-item">즐겨찾기</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- 가변 메뉴 -->
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">관리자</h4>
              </li>
              <li class="nav-item submenu">
                <a data-bs-toggle="collapse" href="#sidebarLayouts" class="" aria-expanded="true">
                  <i class="fas fa-th-list"></i>
                  <p>전자결재</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="sidebarLayouts" style="">
                  <ul class="nav nav-collapse">
                    <li>
                      <a th:href="@{/admin/apprFormList}">
                        <span class="sub-item">템플릿 관리</span>
                      </a>
                    </li>
            </ul>
          </div>
          </li>
            <li class="nav-item submenu">
                <a data-bs-toggle="collapse" href="#sidebarLayouts" class="" aria-expanded="true">
                  <i class="fas fa-th-list"></i>
                  <p>예약</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="sidebarLayouts" style="">
                  <ul class="nav nav-collapse">
                    <li>
                      <a th:href="@{/admin/commonItemList}">
                        <span class="sub-item">공용품 목록</span>
                      </a>
                    </li>
                    <li>
                      <a th:href="@{/admin/commonItem}">
                        <span class="sub-item">공용품 등록</span>
                      </a>
                    </li>
            </ul>
          </div>
          </li>
            <li class="nav-item submenu">
                <a data-bs-toggle="collapse" href="#sidebarLayouts" class="" aria-expanded="true">
                  <i class="fas fa-th-list"></i>
                  <p>부서관리</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="sidebarLayouts" style="">
                  <ul class="nav nav-collapse">
                    <li>
                      <a th:href="@{/admin/deptList}">
                        <span class="sub-item">부서</span>
                      </a>
                    </li>
            </ul>
          </div>
          </li>
          </ul>
          </div>
        </div>
      </div>

</div>