<!DOCTYPE html>
<div xmlns:th="https://www.thymeleaf.org" th:fragment="SidebarFrag">

<div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
              <img
                src="assets/img/kaiadmin/logo_light.svg"
                alt="navbar brand"
                class="navbar-brand"
                height="20"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <!-- 고정 메뉴 -->
              <li class="nav-item">
                <a href="#dashboard">
                  <i class="fas fa-home"></i>
                  <p>메인화면</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#dashboard">
                  <i class="fas fa-search"></i>
                  <p>검색</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  data-bs-toggle="collapse"
                  href="#dashboard"
                  class="collapsed"
                  aria-expanded="false"
                >
                  <i class="fas fa-star"></i>
                  <p>즐겨찾기</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="dashboard">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="">
                        <span class="sub-item">메인화면</span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span class="sub-item">검색</span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span class="sub-item">즐겨찾기</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- 가변 메뉴 -->
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">근태관리</h4>
              </li>
              <li class="nav-item">
                <a th:href="@{monthList}">
                  <i class="fas fa-calendar-check"></i>
                  <p>이번달 근태 현황</p>
                </a>
              </li>
               <li class="nav-item">
                <a th:href="@{allList}">
                  <i class="fas fa-clipboard-list"></i>
                  <p>내 전체 근태 </p>
                </a>
              </li>  
              <li class="nav-item">
                <a th:href="@{annual}">
                  <i class="fas fa-list"></i>
                  <p>내 연차 내역</p>
                </a>
              </li>
               <li class="nav-item">
                <a th:href="@{attendanceManage}">
                  <i class="fas fa-address-book"></i>
                  <p>사원 근태관리</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

</div>