<!DOCTYPE html>
<div xmlns:th="https://www.thymeleaf.org" th:fragment="SidebarFrag">

<div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
                <!-- 로고이미지 자리 -->
                
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <!-- 고정 메뉴 -->
              <li class="nav-item">
                <a th:href="@{/}">
                  <i class="fas fa-home"></i>
                  <p>메인화면</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/search}">
                  <i class="fas fa-search"></i>
                  <p>검색</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  data-bs-toggle="collapse"
                  href="#dashboard"
                  class="collapsed"
                  aria-expanded="false"
                  >
                  <i class="fas fa-star"></i>
                  <p>즐겨찾기</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="dashboard">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="">
                        <span class="sub-item">즐겨찾기 설정</span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span class="sub-item">즐겨찾기1</span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span class="sub-item">즐겨찾기2</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- 가변 메뉴 -->
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">고용전자계약</h4>
              </li>
              <li class="nav-item">
                <a th:href="@{/contracts/main}">
                  <i class="fas fa-layer-group"></i>
                  <p>전자계약조회</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/contracts/form}">
                  <i class="fas fa-pen-square"></i>
                  <p>전자계약</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

</div>