<!DOCTYPE html>
<div xmlns:th="https://www.thymeleaf.org" th:fragment="HeaderFrag">

<div class="main-header-logo">
  <!-- Logo Header -->
  <div class="logo-header" data-background-color="dark">
    <a href="index.html" class="logo">
      <img
        src="@{/assets/img/kaiadmin/logo_light.svg}"
        alt="navbar brand"
        class="navbar-brand"
        height="20"
      />
    </a>
    <div class="nav-toggle">
      <button class="btn btn-toggle toggle-sidebar">
        <i class="gg-menu-right"></i>
      </button>
      <button class="btn btn-toggle sidenav-toggler">
        <i class="gg-menu-left"></i>
      </button>
    </div>
    <button class="topbar-toggler more">
      <i class="gg-more-vertical-alt"></i>
    </button>
  </div>
  <!-- End Logo Header -->
</div>
<!-- Navbar Header -->
<nav
  class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
	>
  <div class="container-fluid col-md-4">
  	<button class="btn btn-primary" th:onclick="| location.href = '@{/mail/mailmain}' |">	<!-- 나중에 수정 -->
  		전자메일
  	</button>
  	<button class="btn btn-primary" th:onclick="| location.href = '@{/approval/waiting}' |">
  		전자결재
  	</button>
  	<button class="btn btn-primary" th:onclick="| location.href = '@{/attendance/allList}' |">
  		근태관리
  	</button>
  	<button class="btn btn-primary" th:onclick="| location.href = '@{/reservation}' |">
  		예약
  	</button>
  	<div class="btn-group dropdown">
       <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
         더보기
       </button>
       <ul class="dropdown-menu" role="menu">
         <li>
           <a class="dropdown-item" href="#">Action</a>
           <a class="dropdown-item" href="#">Another action</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Something else here</a>
         </li>
       </ul>
      </div>
  </div>
  <form th:action="@{/logout}" method="post" style="display: inline;">
    <button type="submit" class="btn btn-danger">로그아웃</button>
</form>
</nav>
<!-- End Navbar -->
</div>