<!DOCTYPE html>
<div xmlns:th="https://www.thymeleaf.org" th:fragment="SidebarFrag">

<div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
          	<a href="/workmate/" class="logo">
              <img
                th:src="@{/assets/img/logo.png}"
                alt="navbar brand"
                class="navbar-brand"
                height="30"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <!-- 고정 메뉴 -->
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">대시보드</h4>
              </li>
              <li class="nav-item">
                <a th:href="@{/}">
                  <i class="fas fa-home"></i>
                  <p>메인화면</p>
                </a>
              </li>
               <li class="nav-item">
                <a th:href="@{/calendar}">
                  <i class="fas fa-pen-square"></i>
                  <p>캘린더</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/search}">
                  <i class="fas fa-search"></i>
                  <p>검색</p>
                </a>
              </li>
              <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a th:href="@{/admin/apprFormList}">
                  <i class="fas fa-portrait"></i>
                  <p>관리자</p>
                </a>
              </li>
              
              
            </ul>
          </div>
        </div>
      </div>

</div>