<!DOCTYPE html>
<div xmlns:th="https://www.thymeleaf.org" th:fragment="SidebarFrag">

<div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a th:href="@{/}" class="logo">
              <img
                th:src="@{/assets/img/logo.png}"
                alt="navbar brand"
                class="navbar-brand"
                height="30"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <!-- 고정 메뉴 -->
              <li class="nav-item">
                <a th:href="@{/}">
                  <i class="fas fa-home"></i>
                  <p>메인화면</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/search}">
                  <i class="fas fa-search"></i>
                  <p>검색</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  data-bs-toggle="collapse"
                  href="#dashboard"
                  class="collapsed"
                  aria-expanded="false"
                >
                  <i class="fas fa-star"></i>
                  <p>즐겨찾기</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="dashboard">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="">
                        <span class="sub-item">메인화면</span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span class="sub-item">검색</span>
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <span class="sub-item">즐겨찾기</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- 가변 메뉴 -->
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">사원관리</h4>
              </li>
              <li class="nav-item">
                <a th:href="@{/emp/organ}">
                  <i class="fas fa-stream"></i>
                  <p>조직도</p>
                </a>
              </li>
			  <li class="nav-item">
			  	<a th:href="@{/emp/myEvalu}"> 
			  	  <i class="fas fa-pen-square"></i>
					<p>내가 진행할 평가</p>
				</a>
		     </li>
			 <li class="nav-item">
			  	<a th:href="@{/emp/myResult}"> 
			  	  <i class="fas fa-th-list"></i>
					<p>내가 받은 평가</p>
				</a>
		     </li>
		     <li class="nav-item">
			  	<a th:href="@{/emp/bfevalu}" th:if="${teamNo == 'ROLE_T001'}"> 
			  	  <i class="fas fa-address-book"></i>
					<p>평가 관리</p>
				</a>
		     </li>
          </div>
        </div>
      </div>
</div>