<!DOCTYPE html>
<html 
	xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="content"
	>

<head>
	<meta charset="UTF-8">
	<title>결재양식 관리</title>
</head>

<body>
	<div class="card mx-5 px-3 py-5">
		<h3 class="card-title pb-5">결재 양식 관리</h3>
		<button class="btn btn-primary" th:onclick="| location.href = '@{/admin/apprFormOne}' |">
			템플릿 등록
		</button>
		<table id="FormsTable" class="display table table-striped table-bordered mt-2">
			<thead>
				<tr>
					<th>NO</th>
					<th>양식명</th>
					<th>담당자</th>
					<th>등록날짜</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="form, sts : ${apprFormList}">
					<tr>
						<td>[[ ${sts.count} ]]</td>
						<td>[[ ${form.formName} ]]</td>
						<td>[[ ${form.userName} ]]</td>
						<td>[[ ${form.uploadDate} ]]</td>
						<td>
							<button class="btn btn-primary" th:onclick="| location.href = '@{/admin/apprFormOne(apprType=${form.apprType})}' |">
								수정
							</button>
						</td>
						<td>
							<button class="btn btn-primary" th:data-appr-type="${form.apprType}" onclick="deleteForm(this)">
							    삭제
							</button>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>

<script th:inline="javascript">
	$(document).ready(function() {
		$('#FormsTable').DataTable();
	});
	
	function deleteForm(button) {
	    if(!confirm('해당 결재양식을 삭제하시겠습니까?')) {
	        return;
	    }

	    const apprType = $(button).data('appr-type'); // data-* 속성에서 값 가져오기

	    $.ajax({
	        url: [[ @{/admin/apprForm} ]],
	        type: 'DELETE',
	        contentType: 'application/json',
	        data: JSON.stringify({
	            apprType: apprType
	        }),
	        success: function(response) {
	            if(response) {
	                alert('결재양식 제거에 성공했습니다.');
	                location.reload(true);
	            }
	        },
	        error: function(error) {
	            alert('결재양식 제거에 실패했습니다.');
	        }
	    });
	}
</script>

</html>