<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/document_layout}"
	layout:fragment="content">
<head>
<meta charset="UTF-8">
<title></title>
<style>
	.card{
		padding: 100px;
	}
</style>
</head>
<body>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="d-flex align-items-center">
						<h4 class="card-title">전사 자료실</h4>
						<button class="btn btn-primary btn-round ms-auto" onclick="uploadModal()"
							data-bs-toggle="modal" data-bs-target="#addRowModal">
							<i class="fa fa-plus"></i> FILE UPLOAD
						</button>
					</div>
				</div>
				<div class="card-body">
					<!-- Modal -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h3 class="modal-title">파일 업로드</h3>
                <button type="button" class="close" onclick="closeModal()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small">파일을 업로드 해주세요.</p>
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>파일명</label>
                                <input id="addName" type="text" class="form-control" placeholder="파일 설명을 입력하세요">
                            </div>
                        </div>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0">
                <button type="button" id="addRowButton" class="btn btn-primary">업로드하기</button>
                <button type="button" class="btn btn-danger" onclick="closeModal()">취소</button>
            </div>
        </div>
    </div>
</div>

					<div class="table-responsive">
							<table id="documentTable" class="table">
								<thead>
									<tr>
										<th><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
										<th>파일명</th>
										<th>파일크기</th>
										<th>확장자</th>
										<th>업로드날짜</th>							
										<th><i class="fas fa-download"></i></th>							
										<th><i class="fas fa-trash-alt"></i></th>							
									</tr>
								</thead>
								<tbody>
									<!-- 단건 : 배열 -->
									<tr th:each="list : ${lists}">
										<td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
										<td>[[ ${list.fileName} ]]</td>
										<td>[[ ${list.fileSize} ]]</td>
										<td>[[ ${list.extenstion} ]]</td>
										<td>[[ ${#dates.format(list.fileRegDate, 'yyyy-MM-dd')} ]]</td>
										<td><a href=""><i class="fas fa-download" th:if="${list.fileName} != null" ></i></a></td>
										<td><i class="fas fa-trash-alt" th:if="${list.fileName} != null" ></i></td>										
									</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
$('#documentTable').DataTable({
	order: [ [ 0, "desc" ] ],
	info: false,
});

// 파일 등록 모달
function uploadModal() {
    var modal = new bootstrap.Modal(document.getElementById('addRowModal'));
    modal.show();
}

function closeModal() {
    var modalElement = document.getElementById('addRowModal');
    var modalInstance = bootstrap.Modal.getInstance(modalElement);
    
    if (modalInstance) {
        modalInstance.hide();
    }

    // backdrop 강제 제거
    document.querySelectorAll('.modal-backdrop').forEach(el => el.remove());
}
</script>
</html>