<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/document_layout}"
	layout:fragment="content">
<head>
<meta charset="UTF-8">
<title></title>
<style>
	.card{
		padding: 100px;
	}
	#newTagInput {
    border: 1px solid #ced4da !important; /* Bootstrap 기본 border */
    border-radius: 0.375rem; /* Bootstrap 기본 border-radius */
    padding: 0.375rem 0.75rem;
    margin-top: 30px;
  }
</style>
</head>
<body>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="d-flex align-items-center">
						<h4 class="card-title">전사 자료실</h4>
						<th:block th:if="${userId != null and teamNo == 'ROLE_T001'}">
						    <button class="btn btn-primary btn-round ms-auto" onclick="uploadModal()"
						            data-bs-toggle="modal" data-bs-target="#addRowModal">
						        <i class="fa fa-plus"></i> FILE UPLOAD
						    </button>
						</th:block>
					</div>
				</div>
				<div class="card-body">
				<!-- File Upload Modal -->
				<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true" >
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				            <div class="modal-header border-0">
				                <h3 class="modal-title">파일 업로드</h3>
				                <button type="button" class="close" onclick="closeModal()">
				                    <span aria-hidden="true">×</span>
				                </button>
				            </div>
				            <div class="modal-body">
				                <p class="small">파일을 업로드 해주세요.</p>
				                <form id="uploadForm" method="post" enctype="multipart/form-data"  name="uploadForm" action="/archive/upload">
				                    <div class="row">
				                        <div class="col-sm-12">
				                            <div class="form-group form-group-default">				                           
				                                <label>파일설명</label>
				                                <input id="addName" name="fileDesc" type="text" class="form-control" placeholder="파일 설명을 입력하세요">
				                            </div>
				                             <div class="form-group form-group-default">
				                                <label>파일분류</label>
												
												<select id="fileTagSelect" name="fileTag" class="form-select input-fixed">
												    <option value="">-- 분류를 선택하세요 --</option>
												    <th:block th:each="tag : ${#sets.toSet(lists.![fileTag])}">
												        <option th:value="${tag}" th:text="${tag}"></option>
												    </th:block>
												</select>
												  <input type="text" id="newTagInput" class="form-control mt-2" placeholder="새로운 분류 입력" />
												  <button type="button" onclick="addNewTag()" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> ADD</button>
				                            </div>
				                        </div>
				                        <input type="file" name="uploadFile" class="form-control-file" id="uploadFile">
				                    </div>
				                    <div class="modal-footer border-0">
				            	<button type="button" id="addRowButton" class="btn btn-primary" >업로드하기</button>
				                <button type="button" class="btn btn-danger" onclick="closeModal()">취소</button>
				            		</div>
				                </form>
				            </div>				            
				        </div>
				    </div>
				</div>
				<!-- 파일 미리보기 모달 -->
					<div class="modal fade" id="previewModal" tabindex="-1" aria-hidden="true">
					  <div class="modal-dialog modal-xl modal-dialog-centered">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h6 class="modal-title"><b>파일 미리보기</b></h6>
					        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					      </div>
					      <div class="modal-body text-center">
					        <iframe id="previewFrame" style="width:100%; height:80vh;" frameborder="0"></iframe>
					      </div>
					    </div>
					  </div>
					</div>

					<div class="table-responsive">
							<table id="documentTable" class="table">
								<thead>
								    <tr>								    	
								        <th>
								        	<select id="extFilter" class="form-select">
								                <option value="">🔍︎ 자료 전체</option>
								            </select>
								        </th>
								        <th>파일명</th>
								        <th>파일설명</th>
								        <th>파일크기</th>
								        <th>확장자</th>
								        <th>업로드날짜</th>	
								        <th:block th:if="${userId != null and teamNo == 'ROLE_T001'}">
								        <th>업로드사원</th>
   										</th:block>	
   										<th>미리보기</th>									        
								        <th><i class="fas fa-download"></i></th>
								        <th:block th:if="${userId != null and teamNo == 'ROLE_T001'}">
								        <th> <i class="fas fa-trash-alt"></i></th>
   										</th:block>
								    </tr>
								</thead>
								<tbody>
									<!-- 단건 : 배열 -->
									<tr th:each="item : ${lists}">
										<td>[[ ${item.fileTag} ]]</td>
										<td>[[ ${item.fileName} ]]</td>
										<td>[[ ${item.fileDesc} ]]</td>
										<td>[[ ${item.formattedSize} ]]</td>
										<td>[[ ${item.extenstion} ]]</td>
										<td>[[ ${#dates.format(item.fileRegDate, 'yyyy-MM-dd')} ]]</td>
										<th:block th:if="${userId != null and teamNo == 'ROLE_T001'}">
										<td>[[ ${item.userId} ]]</td>
										</th:block>
										<td>
										  <button class="btn btn-outline-secondary btn-sm me-2"
										          th:data-file-url="@{/document/preview/{documentNo}(documentNo=${item.documentNo})}"
										          onclick="previewFile(this)">
										    <i class="fas fa-eye"></i> 미리보기
										  </button>										  
										</td>								
										<td><a th:href="@{/document/download/{documentNo}(documentNo=${item.documentNo})}">
										    <i class="fas fa-download"></i>
											</a>
										</td>
										<th:block th:if="${userId != null and teamNo == 'ROLE_T001'}">
										<td>
										    <i class="fas fa-trash-alt"
										       th:if="${item != null and not #strings.isEmpty(item.fileName)}"
										       th:data-document-no="${item.documentNo}"
										       onclick="deleteDocument(this)">										       
										    </i>
										</td>
										</th:block>										
									</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
// 파일 등록 모달
function uploadModal() {
    var modal = new bootstrap.Modal(document.getElementById('addRowModal'));
    modal.show();
}

function closeModal() {
    var modalElement = document.getElementById('addRowModal');
    var modalInstance = bootstrap.Modal.getInstance(modalElement);
    
    if (modalInstance) {
        modalInstance.hide();
    }

    // backdrop 강제 제거
    document.querySelectorAll('.modal-backdrop').forEach(el => el.remove());
}

// 파일 업로드
document.getElementById("addRowButton").addEventListener("click", function () {
    const fileInput = document.getElementById("uploadFile");
    const file = fileInput.files[0];

    if (!file) {
        alert("파일을 선택해주세요.");
        return;
    }

    const formData = new FormData(document.uploadForm);

    fetch("/workmate/document/upload", {
        method: "POST",
        body: formData
    }) .then(response => response.text() 
    ) .then(response => {
            if (response) {
                alert("업로드 완료");
            location.reload(); // 페이지 새로고침
            } 
        })
        .catch(error => {
            console.error("업로드 오류:", error);
            alert("업로드 실패");
        });
});

// 파일 단건 삭제
function deleteDocument(icon) {
    const documentNo = icon.getAttribute("data-document-no");

    if (confirm("삭제하시겠습니까?")) {
        fetch(`/workmate/document/delete/${documentNo}`, {
            method: "DELETE"
        })
        .then(response => {
            if (response.ok) {
                alert("삭제 완료");
                location.reload(); // 페이지 새로고침
            } else {
                alert("삭제 실패");
            }
        })
        .catch(error => {
            console.error("삭제 오류:", error);
            alert("삭제 중 오류가 발생했습니다.");
        });
    }
}
// datatable 설정
$(document).ready(function() {
    var table = $('#documentTable').DataTable({
        "paging": true,
        "ordering": false,
        "searching": true,
        "info": false,
        "lengthMenu": [10, 25, 50, 100],
        initComplete: function () {
            var column = this.api().column(0);  // 파일분류
            var select = $('#extFilter'); // thead에 있는 select 가져오기

            // 기존 옵션 제거 후 새로운 옵션 추가
            column.data().unique().sort().each(function (d, j) {
                select.append('<option value="' + d + '">' + d + '</option>');
            });

            // 필터 적용 이벤트 리스너
            select.on('change', function () {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                column.search(val ? '^' + val + '$' : '', true, false).draw();
            });
        }
    });
});
// 새로운 파일 분류 추가
function addNewTag() {
    const input = document.getElementById('newTagInput');
    const select = document.getElementById('fileTagSelect');
    const newValue = input.value.trim();

    if (!newValue) {
      alert("추가할 태그를 입력하세요.");
      return;
    }

    // 중복 체크
    const exists = Array.from(select.options).some(option => option.value === newValue);
    if (exists) {
      alert("이미 존재하는 태그입니다.");
      return;
    }

    // 새로운 옵션 추가
    const newOption = new Option(newValue, newValue);
    select.add(newOption);
    select.value = newValue; // 방금 추가한 값 선택되게

    input.value = ""; // 입력창 비우기
  }
  // 파일 미리보기
  function previewFile(button) {
    const fileUrl = button.getAttribute("data-file-url");
    const iframe = document.getElementById("previewFrame");
    iframe.src = fileUrl;

    const modal = new bootstrap.Modal(document.getElementById('previewModal'));
    modal.show();
}
</script>
</html>