<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workmate.app.finance.mapper.FinanceMapper">
	<!-- 보고서 전체 조회 -->
	<select id="selectReportList" resultType="ReportVO">
		SELECT 	r.report_no
		        , r.report_title
		        , r.report_status
		        , u.user_name
		        , r.write_date
		        , r.report_note
		FROM report r 
		JOIN employee u
		ON u.user_NO = r.user_no 
	</select>
	<!-- 입출금 내역 - 입/출금 -->
	<select id="selectTransList" resultType="ReportVO">
		SELECT 
		    r.REPORT_NO
		    , r.REPORT_TITLE
		    , r.TRANS_START
		    , r.TRANS_END
		    , t.TEAM_NAME
		    , u.USER_NAME
		    , u.USER_NO
		    , th.TRANS_DATE
		    , th.PURPOSE_USE
		    , th.TRANS_TYPE
		    , th.DEPOSIT
		    , th.WITHDRAWAL
		    , th.BALANCE
		    , th.TRANS_ID
		FROM REPORT r
		JOIN TRANS_HISTORY th
		  ON r.REPORT_NO = th.REPORT_NO
		JOIN EMPLOYEE u
		  ON r.USER_NO = u.USER_NO
		JOIN TEAM t
		  ON u.TEAM_NO = t.TEAM_NO
		WHERE r.REPORT_NO = #{reportNo}
		ORDER BY th.TRANS_DATE ASC,
		         CASE th.TRANS_TYPE
		             WHEN '입금' THEN 0
		             WHEN '출금' THEN 1
		             ELSE 2
		         END
	</select>
	<!-- report 테이블 insert -->
	<insert id="insertReportOne" parameterType="ReportVO">
	<selectKey keyProperty="reportNo" resultType="Integer" order="BEFORE"> <!-- 직전 등록된 reportNo 받아옴 -->
        SELECT REPORT_NO_SEQ.NEXTVAL FROM DUAL
    </selectKey>
		INSERT INTO REPORT
				( REPORT_NO
			    , REPORT_TITLE
			    , WRITE_DATE
			    , USER_NO
			    , TEAM_NO
			    , TRANS_START
			    , TRANS_END
			    , REPORT_STATUS ) 
			    
		VALUES ( #{reportNo}
		        , #{reportTitle}
		        , SYSDATE
		        , #{userNo}
		        , #{teamNo}
		        , #{transStart}
		        , #{transEnd} 
		        , '결재 중') 
	</insert>
	
	<!-- TransHistory 테이블 insert -->
	<insert id="insertReportTransOne" parameterType="ReportVO">
		    INSERT INTO TRANS_HISTORY
		                ( TRANS_ID
		                , TRANS_TYPE
		                , TRANS_DATE 
		                , WITHDRAWAL
		                , DEPOSIT
		                , BALANCE
		                , PURPOSE_USE
		                , REPORT_NO
		                ) 
		    VALUES ( TRANS_ID_SEQ.NEXTVAL
		            , #{transType}
		            , #{transDate}
		            , #{withdrawal}
		            , #{deposit}
		            , #{balance}
		            , #{purposeUse}
		            , #{reportNo}
		            ) 
	</insert>
	
	<!-- Report 수정 -->
	<update id="updateReportOne" parameterType="ReportVO">
		UPDATE REPORT
  		   SET REPORT_TITLE   = #{reportTitle},
       WRITE_DATE     = SYSDATE,
       USER_NO        = #{userNo},
       TEAM_NO        = #{teamNo},
       TRANS_START    = #{transStart},
       TRANS_END      = #{transEnd},
       REPORT_STATUS  = '결재 중'
	   WHERE REPORT_NO      = #{reportNo}
	</update>
	<!-- TransHistory 수정 -->
	<update id="updateTransHistory" parameterType="ReportVO">
	UPDATE TRANS_HISTORY
   SET TRANS_TYPE   = #{transType},
       TRANS_DATE   = #{transDate},
       WITHDRAWAL   = #{withdrawal},
       DEPOSIT      = #{deposit},
       BALANCE      = #{balance},
       PURPOSE_USE  = #{purposeUse},
       REPORT_NO    = #{reportNo}
 WHERE TRANS_ID     = #{transId}
	
	</update>
	<!-- 법인카드 조회 -->
	<select id="selectCorCardList" resultType="CorcardVO">
		SELECT c.CORCARD_NO
		        , c.CORCARD_NUM
		        , c.OWNER_NO
		        , c.CORCARD_START
		        , c.CORCARD_END
		        , c.CORCARD_COMP
		        , c.CORCARD_STATUS
		        , c.BANK_NAME
		        , u.USER_NAME
		FROM CORCARD c
        JOIN EMPLOYEE u
        ON c.owner_no = u.user_no
	</select>
	<!-- 법인카드 등록  -->
	<insert id="insertCorCard" parameterType="CorcardVO">
    INSERT INTO CORCARD (
        					CORCARD_NO
        					, CORCARD_NUM
        					, OWNER_NO
        					, CORCARD_START
        					, CORCARD_END
        					, CORCARD_COMP
        					, CORCARD_STATUS
        					, BANK_NAME
        					, M_LIMIT
        					, D_LIMIT
        					, USER_NO
    					 ) 
    					VALUES (
       						  CORCARD_NO_SEQ.NEXTVAL
       						  , #{corcardNum}
       						  , #{ownerNo}
       						  , #{corcardStart}
       						  , #{corcardEnd}
       						  , #{corcardComp}
       						  , #{corcardStatus}
       						  , #{bankName}
       						  , #{mLimit}
       						  , #{dLimit}
       						  , #{userNo}
    					)
	</insert>
</mapper>