<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workmate.app.approval.mapper.ApprLineMapper">
	<select id="selectApprLine" parameterType="ApprLineVO" resultType="ApprElmntVO">
		SELECT apprelmnt_no
		    , appr_elmnt.apprline_no
		    , user_name
		    , appr_result
		    , appr_reason
		    , appr_date
		    , team_name
		    , department_name
		FROM appr_elmnt
		    JOIN employee
		    ON appr_elmnt.approver=employee.user_no
		    LEFT JOIN team
		    ON employee.team_no=team.team_no
		    LEFT JOIN department
		    ON appr_elmnt.dept_no=department.department_id
		    JOIN appr_line
		    ON appr_elmnt.apprline_no=appr_line.apprline_no
		WHERE appr_no=#{apprNo}
	</select>
</mapper>