<div th:fragment="resultFragment">

        <b>평가항목 및 채점표</b>
        <table>
            <thead>
                <tr>
                    <th class="col-compet">평가 분야</th>
                    <th class="col-content">평가 항목</th>
                    <th class="col-score">[[${user.userName}]]</th>
                </tr>
            </thead>
				<tbody>
				    <tr th:each="score : ${scores}">
				        <td class="col-compet">[[${score.evaluCompet}]]</td>
				        <td class="col-conten">[[${score.evaluContent}]]</td>
				        <td class="col-score">[[${score.avgScore}]] 점</td>
				    </tr>
				</tbody>
        </table>
		 <div class="con" id="chartArea" style="width: 960px; height: 400px; margin: 0 auto; display: flex; justify-content: center;">
		  <canvas id="evaluationChart" style="width: 960px; height: 400px; text-align: center;"></canvas>
		</div>
<script id="scoreData" type="application/json" th:inline="javascript">
  [[${scores}]]
</script>
</div>

